# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/GeneticZoo.pdb
/Debug/GeneticZoo.ilk
/.vs/POC_GenZoo/v15/Browse.VC.opendb
/.vs/POC_GenZoo/v15/Browse.VC.db
/.vs/GeneticZoo/v15/Browse.VC.db
/.vs/GeneticZoo/v15/ipch/a9ccbc3fa6a42c2b.ipch
/.vs/config/applicationhost.config
/.vs/GeneticZoo/v15/.suo
/Debug/gen_probs.csv
/Debug/gen_names.csv
/GeneticZoo/Debug/GeneticZoo.tlog/link.write.1.tlog
/GeneticZoo/Debug/GeneticZoo.tlog/link.read.1.tlog
/GeneticZoo/Debug/GeneticZoo.tlog/link.command.1.tlog
/GeneticZoo/Debug/GeneticZoo.tlog/GeneticZoo.lastbuildstate
/GeneticZoo/Debug/GeneticZoo.tlog/CL.write.1.tlog
/GeneticZoo/Debug/GeneticZoo.tlog/CL.read.1.tlog
/GeneticZoo/Debug/GeneticZoo.tlog/CL.command.1.tlog
*.pdb
*.user
/GeneticZoo/GeneticZoo.vcxproj.filters
/GeneticZoo/Debug/vc141.idb
/GeneticZoo/Debug/GeneticZoo.log
